<div style="text-align: center;">
<h1>Editing Coin</h1>
</div>
<%= render 'form', coin: @coin %>


<div style="text-align: center;">
<%= link_to 'Show', @coin %> |
<%= link_to 'Back', coins_path %>
</div>
